#root {
    h1 {
        color: green;
    }
    .icon {
        width: 600px;
        height: 600px;
        background: url('@/assets/img/basketball.jpg') no-repeat;
    }
    .title {
        color: #f075f0;
        font-weight: bold;
    }
}